legacy-peer-deps=true
registry=https://registry.npmjs.org/
@cafra.digital:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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